<% @books.each do |book|%>

<tr align="center">
<td align="center"><%= book.name%></td>
<td align="center"><%= book.gen %></td>
<td align="center"><%= link_to "Show", book %></td>

<td align="center"><%= link_to "Edit", edit_book_path(book) %></td>
<td align="center"><%= link_to "delete", book, method: :delete,remote:true,data: { confirm: 'Are you sure?' }%></td>
</tr>

<%end%>