<fieldset align="center">
	<legend><h2>book Details</h2></legend>
	<p align="center"><strong> Name           : </strong><%=@book.name%></p>
	<p align="center"><strong> Author         : </strong><%=@book.author%></p>
	<p align="center"><strong> Book Genre     : </strong><%=@book.gen%></p>
	<p align="center"><strong> Price          : </strong><%=@book.price%></p>
	
</fieldset>
<fieldset align="center">
	<p align="center"><%= link_to "Edit", edit_book_path(@book) %></p>
			<p align="center"><%= link_to "delete", @book, method: :delete,data: { confirm: 'Are you sure?' }%></p>
	
	<p align="center"><%= link_to "back", root_path %></p>
</fieldset>