<p id="notice"><%= notice %></p>

<p>
  <strong>C name:</strong>
  <%= @product.c_name %>
</p>

<p>
  <strong>P name:</strong>
  <%= @product.p_name %>
</p>

<p>
  <strong>P type:</strong>
  <%= @product.p_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @product.qty %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<%= link_to 'Back', products_path %>
